.parent-container {
  position: relative;
  height:100%;
  width: 100%;
}

.child-container {
  color: honeydew;
  text-align: center;
  position: center;

}
.desc {
  font-family: Serif;
  font-size: 30px;
}

