<div class="parent-container">
  <div class="child-container">
    <h2 style="font-family: Serif; font-size: 45px">Hello to Food Place and Recipe finder!!!</h2>
    <span class="desc"> Lets explore food recipes and location!.</span><br><br><br>
    <form>
      <div class="form-group">
        <label style="color: white; font-size:20Px" >Subscribe to our news letter:</label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@example.com"/>
        </div>
        <br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5">Submit</button>
      </div>
    </form>
  </div>
</div>



